<nav class="navbar navbar-expand-sm bg-body-tertiary" >
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><span class="book">Book</span><span class="warm">Warm</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
            <a class="nav-link" href="#">Categories</a>
            <a class="nav-link" routerLink="books">Books</a>
            <a class="nav-link" href="#">Authers</a>
          </div>
        </div>
        <div class="left"></div>
      </div>
    </nav>