<div class="container-fluid"  >

<nav class="navbar navbar-expand-sm bg-body-tertiary">
  
    <a class="navbar-brand" href="#"
      ><span class="book">Book</span><span class="warm">Warm</span></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        <a class="nav-link" href="#">Categories</a>
        <a class="nav-link" routerLink="books">Books</a>
        <a class="nav-link" routerLink="authors">Authors</a>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/book">AdminBook</a>
        </li>

        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="/admin/author">AdminAuthor </a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="/admin/category">AdminCategory </a>
        </li>
      </div>
    </div>

</nav>
  </div>