<div class=" row my-6">

    <form class=" shadow-lg p-4  " method="post" enctype="multipart/form-data" [formGroup]="addbookform" (ngSubmit)="addBook()">
                <h4 class="text-center ">Add Book</h4>
        <div class="elm my-4">

            <label >Enter name</label>
            <input type="text" class="form-control" formControlName="name">
            <span *ngIf="addbookform.controls['name'].touched && addbookform.controls['name'].invalid">
                
                <span *ngIf="addbookform.controls['name'].errors?.['required']" class="text-danger">
                        this filed is required
                </span>
                <span *ngIf="addbookform.controls['name'].errors?.['minlength']" class="text-danger">
                    minLength is 5 
                 </span>
              
            </span>

        </div>
        <div class="elm my-4">

            <label >Enter Image</label>
            <input type="file" class="form-control" formControlName="photo" (change)="addphoto($event)">
            <span *ngIf="addbookform.controls['photo'].touched && addbookform.controls['photo'].invalid">
                
                <span *ngIf="addbookform.controls['photo'].errors?.['required']" class="text-danger">
                        this filed is required
                </span>
              
            </span>

        </div>

        <div class="elm my-4">

            <label >Select Cetegory</label>
            <Select class=" form-control my-3"  formControlName="category" id="Category" (change)="showcat($event)">
                <option ></option>
               <option *ngFor="let elm of categories" [value]="elm._id">{{elm.name}}</option>
               
            </Select>

            <span *ngIf="addbookform.controls['category'].touched && addbookform.controls['category'].invalid">
                
                <span *ngIf="addbookform.controls['category'].errors?.['required']" class="text-danger">
                        this filed is required
                </span>
              
            </span>

        </div>

        <div class="elm my-4">

            <label >Select Author</label>
            <Select class=" form-control" formControlName="author" id="Author" (change)="showauth($event)">
                <option ></option>
                <option *ngFor="let elm of authors" value="{{elm._id}}">{{elm.f_name}}</option>
            </Select>

            <span *ngIf="addbookform.controls['author'].touched && addbookform.controls['author'].invalid">
                
                <span *ngIf="addbookform.controls['author'].errors?.['required']" class="text-danger">
                        this filed is required
                </span>
              
            </span>

        </div>

        <div class="elm my-3">

            <input type="submit" class="btn btn-primary" [disabled]="addbookform.invalid">

        </div>


    </form>

</div>
