/* body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  @media screen and (max-width: 992px){
  #container {
      height: 1000px;
      width: 100%;
      position: relative;      
    }
  }
    #navi,
    #infoi {
      position: absolute;
      
    }
    @media screen and (max-width: 400px){
    #infoi {
      display: flex;
      margin-top: 1200px;
      margin-left: 1000px;
      z-index: 5;
    }}
    .container{
        background-color: aqua;
    }
     */
     p{
      align-items: center;
      text-align: center;
      background-color: white;
      opacity: 80%;
      margin-top: 100PX;
      margin-bottom: 50px;
      border-radius: 4px;
      font-size: large;
      font-family:'Times New Roman', Times, serif;
      font-weight:bold;
     }
    h6{
      text-align: center;
      margin-bottom: 50px;
    }
    h6 span{
      background-color: white;
      padding: 5px;
      opacity: 80%;
    }
   