
  <div class="container-fluid" style="background-color:rgba(255, 204, 153, 1)" >
    <div class="row" >
    <div class="col-6">
      <svg width="500" height="500" xmlns="http://www.w3.org/2000/svg"> 
       
        <rect width="200" height="400" style="fill:#FF751A;opacity:80%  " x="-10" y="1"/>
        <defs>
          <pattern id="patron1" viewBox="10,10" width="5%" height="5%">
                <line x1="0" y1="0" x2="200" y2="200" style="stroke:rgba(255, 117, 26, 1);stroke-width:1" />
          </pattern>
        </defs>
        <circle cx="300" cy="200" r="120" fill="url(#patron1)" />
       
        <circle cx="350" cy="280" r="120" fill=" rgba(255, 117, 26, 1)" />
        <image href="../../assets/image/My project (1).png" width="450px" x="45px"y="85px"></image>
      </svg>
         </div>
   <div class="col-6">
    <div>
      <p>A reader lives a thousand lives before he dies . . . The man who never reads lives only one.”</p>
    </div>
    <div id="auther">
   <h6><span>George R.R. Martin</span></h6> </div>
    <svg height="100%" width="100%">
      <circle cx="50" cy="50" r="40"  fill="rgba(255, 117, 26, 1)" />
      <rect width="200" height="400" style="fill:#FF751A;opacity:90%  " x="300" y="-20"/>
      <image href="../../assets/image/stand girl.png" width="300px" x="260px"y="-31px" height="440"></image>
    </svg>
  
  
 
    </div>
  
</div> 

</div>
<app-s-section></app-s-section>