<div class="row w-100 my-4 p-4">

    <h4>Categories</h4>
    <!-- <a href="addcategory" class=" btn btn-primary w-25">add_category </a> -->
    <app-add-catgory></app-add-catgory>
    <div class="row w-100 mx-3  bg-light p-2 my-2" *ngFor="let elm of category">

        <div class="col">

            <h5>{{elm.name}}</h5>

        </div>
        <div class="col">
          

            <button class=" btn btn-danger m-2" (click)="delete(elm)">delete</button>
          

        </div>
    </div>

    <div class=" pagination">

        
        <button class="btn btn-primary" [disabled]="page===1" (click)="prevPage()"> Previous </button>
  
  
        <button class="btn btn-primary" [disabled]="page===totalPages" (click)="nextPage()"> Next </button>
   

</div>

</div>
