

<div class="container-fluid " style="background-color: #f28842" >
  <div class="row" >
    <div class="col-md-6">
      <input
        type="text"
        id="inputPassword6"
        class="form-control p-3 text-center"
      />
    </div>
    <div class="col-md-6" >
      <ul class="nav justify-content-end">
        <li class="nav-item" *ngIf="isLoggedin">
          <a class="nav-link"> My Account</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedin">
          <a class="nav-link" routerLink="login"> Log in</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedin">
          <a class="nav-link" routerLink="register">Sign up</a>
        </li>

        <li class="nav-item" *ngIf="isLoggedin">
          <a class="nav-link cursor-pointer" (click)="logout()"> Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>
