<div class="container">
  <h3 class="display-4 my-5">All</h3>
  <h1></h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Cover</th>
        <th scope="col">Name</th>
        <th scope="col">Author</th>
        <th scope="col">Avg Rating</th>
        <th scope="col">Rating</th>
        <th scope="col">Shalve</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img src=" " alt="" /></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        1
      </tr>
      <tr>
        <td>1</td>
      </tr>
    </tbody>
  </table>
</div>
