<div class="row my-5">


    <form  method="post" class="shadow-lg p-3 " [formGroup]="addform" (ngSubmit)="add()">
        <h4 class="text-center">Add Category</h4>
        <div class=" form-group my-2">

            <label >Add name</label>
           <input type="text" formControlName="category"  class="form-control">
           <span class=" form-text text-danger" *ngIf="addform.controls['category'].touched && addform.controls['category'].invalid">
                <span *ngIf="addform.controls['category'].errors?.['required']">
                    this filed is required 
                </span>
                <span *ngIf="addform.controls['category'].errors?.['pattern']">
                  all char shoud be string
                </span>
                <span *ngIf="addform.controls['category'].errors?.['minlength']">
                    minLength is 2
                </span>
                <span *ngIf="addform.controls['category'].errors?.['maxLength']">
                    maxLength is 10
                </span>
                <span *ngIf="addform.controls['category'].errors?.['pattern']">
                   all char should be string
                </span>
           </span>

        </div>

        <div class=" form-group my-2">
           <input type="submit" class="btn btn-primary my-2" [disabled]="addform.invalid">

        </div>
        <div *ngIf="result.length>2">

            <p class="text-danger my-2">{{result}}</p>

        </div>

    </form>

   

</div>
