<div class="row my-5">
    <div class="col">

    </div>
    <div class="col">
       <div class="row">
        <!-- <div class="col" *ngFor=" let book of mybook">
            <div class="card" >

                <img src="http://localhost:8000/{{book.photo}}" alt="" class="card-img " >
                <div class="card-body">
                    <h3 class="">{{book.name}}</h3>
    
                    <span>{{book.rate}}</span>
    
                </div>
    
            </div>
        </div> -->
        <table class="  table table-responsive ">
            <thead>
                <th>image</th>
                <th>name</th>
                <th>author</th>
                <th>rate</th>
                <th>status</th>

            </thead>
            <tbody>
                <tr class="my-2"  *ngFor=" let book of mybook">
                    <td>  <img src="http://localhost:8000/{{book.photo}}" alt="" width="100%" style="max-width: 100px;" > </td>
                    <td>{{book.name}}</td>
                    <td>{{book.author_id}}</td>
                    <td>{{book.rate}}</td>
                    <td>{{book.staus}}</td>

                </tr>
            </tbody>
        </table>
       </div>

    </div>
</div>
