<div class="row my-5">
    <div class="col ">
        <span>select books by </span>
      <button class=" btn btn-primary" (click)="All()">All</button>
      <button class=" btn btn-primary" (click)="Reading()">Reading </button>
      <button class=" btn btn-primary" (click)="notReading()">notReaded</button>

    </div>
    <div class="col">
       <div class="row">
        <table class="  table table-responsive ">
            <thead>
                <th>image</th>
                <th>name</th>
                <th>author</th>
                <th>rate</th>
                <th>status</th>

            </thead>
            <tbody>
                <tr class="my-2"  *ngFor=" let book of mybook">
                    <td>  <img src="http://localhost:4000/{{book.photo}}" alt="img" width="100%" style="max-width: 100px;" > </td>
                    <td>{{book.name}}</td>
                    <td>{{book.author_id.f_name}}</td>
                    <td>{{book.rate}}</td>
                    <td>{{book.staus}}</td>

                </tr>
            </tbody>
        </table>
       </div>

    </div>
</div>
